@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Azeret Mono", monospace;
}

/* hero-section */

.hero-section {
    width: 100%;
    height: 652px;
    /* border: 2px solid red; */
    margin: 0 auto;
    background-image: url(../assets/Hero-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.hero-content {
    width: 998px;
    /* border: 2px solid green; */
    margin: 0 auto;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero-text {
    text-align: center;
}

.hero-text h1 {
    color: #0D1321;
    font-size: 47px;
    font-weight: 800;
    line-height: 60px;
    margin-top: 28px;
}

.hero-text p {
    width: 852px;
    margin-top: 24px;
    color: #0D1321;
    line-height: 26px;
    opacity: 0.7;
}

.hero-text button {
    margin-top: 32px;
    border: none;
    font-size: 20px;
    font-weight: 600;
    padding: 21px 24px;
    gap: 10px;
    border-radius: 8px;
    background: #0D1321;
    cursor: pointer;
}

.hero-text button:hover {
    opacity: 0.9;
}
.hero-text button a{
    text-decoration: none;
    color: #fff;
}
/* hero section ends here */

/* main */
main {
    margin-top: 74px;
}

/* why web development section design starts here */
.why-web-dev {
    width: 1140px;
    /* border: 2px solid red; */
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);

    margin: 0 auto;
    padding: 80px 97px;

}

.why-web-dev-intro {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 24px;
    color: #0D1321;
}

.why-web-dev-intro h1 {
    font-size: 32px;
    font-weight: 800;
}

.why-web-dev-intro p {
    line-height: 26px;
    opacity: 0.7;
}

.card-1 {
    margin-top: 48px;
    display: flex;
    padding: 48px;
    /* align-items: flex-start; */
    gap: 32px;
    background-color: #fff;
}

.card-title {
    color: rgba(13, 19, 33, 0.70);

    font-size: 24px;

    font-weight: 700;
    line-height: 36px;
}

.card-description {
    color: #0D1321;
    line-height: 26px;
    margin-top: 16px;
    opacity: 0.7;
    /* 162.5% */
}

.card-button {
    margin-top: 32px;
    padding: 12px 20px;
    border: 1px solid #0D1321;
    opacity: 0.7;
    box-shadow: 10px;
    font-size: 20px;

    font-weight: 600;

}

.card-2 {
    margin-top: 48px;
    display: flex;
    gap: 32px;
    background-color: #fff;
    padding: 48px;
}

.card-3 {
    margin-top: 48px;
    margin-top: 48px;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding: 48px;
}

/* why web development section design ends here */


/*My inspiration section starts here*/

.my-inspiration {
    margin-top: 90px;
    width: 1140px;
    /* border: 2px solid black; */
    margin-left: auto;
    margin-right: auto;
    color: #0D1321;
}

.my-inspiration h1 {
    font-size: 32px;
    font-weight: 800;
}

.my-inspiration p {
    opacity: 0.7;
}

.inspiration-text {
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 24px;
    line-height: 26px;
    color: #0D1321;
}

.iframe {
    margin-top: 48px;
    width: 100%;
    height: 540px;
    padding: 32px;
    border-radius: 16px;
    border: 1px solid rgba(13, 19, 33, 0.20);

}

/* my inspiration section ends here */


/* my current target section starts here */
.current-target {
    width: 1140px;
    /* border: 2px solid red; */
    margin-left: auto;
    margin-right: auto;
}

.target-container {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.target {
    display: flex;
    width: 364px;
    padding: 40px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);
    margin-top: 48px;
    color: #0D1321;
}

.target h3 {

    font-size: 24px;
    font-weight: 800;

}

.target p {
    line-height: 26px;
    opacity: 0.7;
}

.target a {
    color: #0D1321;
    font-weight: 700;

}

/* section ends here */

/* support section */
.support {
    width: 1140px;
    background:
        linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), url(../assets/handshake.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 320px;
    border-radius: 16px;
    margin: 100px auto;

}

.support-content {
    color: #fff;
    display: flex;
    flex-direction: column;
    height: 320px;
    justify-content: center;
    align-items: center;
    gap: 32px;
    padding: 48px;

}

.support-content h1 {
    font-size: 32px;
    font-weight: 700;
}

.support-content p {

    line-height: 26px;
    opacity: 0.7;
    text-align: center;
}

.input {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.input input {
    width: 548px;
    padding: 19px 20px;
    border-radius: 8px;
    border: none;
}

.input button {
    width: 120px;
    padding: 17px 20px;
    border-radius: 8px;
    border: none;
    cursor: pointer;

    color: #0D1321;
    font-size: 20px;
    font-weight: 600;

}

/* feedback section ends here */

/* footer */
footer {
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.03);

}

.footer-content {
    width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 32px 0px;
    align-items: center;
}

.footer-content p {
    color: #0D1321;
    font-size: 20px;
    font-weight: 600;
}

.footer-icon{
    display: flex;
    gap: 24px;
}